.arrival-box{margin:0px !important; padding: 0px 15px;}
.owl-carousel{margin:0px -5px !important}

.rail-header{display: block; overflow: hidden; margin-bottom: 15px;}
.rail-header h4{display: inline-block; float: left; vertical-align: middle; margin: 0px; color:#fff; font-family: "ARIALMDM"; font-size: 21px;}
.rail-header a{    float: right; vertical-align: middle; color:#fff; text-decoration: none;}
.rail-header a span{display: inline-block;
    vertical-align: middle;}
.rail-header a img{width: 11px;
    vertical-align: middle;
    margin-left: 2px;}

    .mt-t-25{margin-top: 25px;}