body{background:rgb(25,33,84)}

.top-profile-box .item img {
    width: 55px !important;
    margin: auto;
    border-radius: 50%;
    height: 55px;
    object-fit: cover;
}

.top-profile-box .item span.name {
    display: block;
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
    font-family: "ARIALMDM";
}

span.followers{font-size: 10px; font-family: "ARIAL"; margin-top:0px; color:#fff;}
.top-profile-box{margin-top: 20px; padding: 0 15px;}